{% extends "base.html" %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Profilo: {{ user_profile.nickname or user_profile.email }}</h1>
  </div>
</div>

<div class="container list1">
  <div class="row">
    <div class="col-md-3 list1-dt">Indirizzo email</div>
    <div class="col-md-9 list1-dd">{{ user_profile.email }}</div>
  </div>
  <div class="row">
    <div class="col-md-3 list1-dt">Soprannome</div>
    <div class="col-md-7 list1-dd">{{ user_profile.nickname or '' }}</div>
    <div class="col-md-2 list1-dd"></div>
  </div>
  <div class="row">
    <div class="col-md-3 list1-dt">Password</div>
    <div class="col-md-7 list1-dd">{{ user_profile.hashed }}</div>
    <div class="col-md-2 list1-dd"><a href="#edit_hashed">edit</a></div>
    <div id="edit_hashed" class="modalDialog">
      <div>
        <a href="#" title="Close" class="close">X</a>
        <h2>Modifica</h2>
        <form action="/admin/user_profile/{{ user_profile.email | urlencode }}/edit/hashed" method="POST">
          <input type="text" name="pw1" placeholder="nuova password">
          <input type="text" name="pw2" placeholder="nuova password (ripeti)">
          <input type="submit" value="Invia">
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 list1-dd">
      <form name="isActiveForm" action="/admin/user_profile/{{ user_profile.email | urlencode }}/edit/is_active" method="POST">
        Is active? <a href="#" onclick="isActiveForm.submit();" class="badge {% if user_profile.is_active %}badge-success{% else %}badge-danger{% endif %}">{{ user_profile.is_active }}</a>
      </form>
    </div>
    <div class="col-md-4 list1-dd">
      <form name="isTeacherForm" action="/admin/user_profile/{{ user_profile.email | urlencode }}/edit/is_teacher" method="POST">
        Is teacher? <a href="#" onclick="isTeacherForm.submit();" class="badge {% if user_profile.is_teacher %}badge-success{% else %}badge-danger{% endif %}">{{ user_profile.is_teacher }}</a>
      </form>
    </div>
    <div class="col-md-4 list1-dd">
      <form name="isAdminForm" action="/admin/user_profile/{{ user_profile.email | urlencode }}/edit/is_admin" method="POST">
        Is admin? <a href="#" onclick="isAdminForm.submit();" class="badge {% if user_profile.is_admin %}badge-success{% else %}badge-danger{% endif %}">{{ user_profile.is_admin }}</a>
      </form>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
