{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Exercise: {{ exercise. }}</h1>
  </div>
</div>

<div class="container list1">
  <div class="row">
    <div class="col-md-1 list1-dt">Nome</div>
    <div class="col-md-9 list1-dd">{{ node.name }}</div>
    <div class="col-md-2 list1-dd"><a href="#edit_name">edit</a></div>
    <div id="edit_name" class="modalDialog">
      <div>
        <a href="#" title="Close" class="close">X</a>
        <h2>Modifica</h2>
        <form action="{{ url_for('adminNodeEditName', node_id=node.id) }}" method="POST">
          <input type="text" name="name" value="{{ node.name }}">
          <input type="submit" value="edit">
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 list1-dt">Antes</div>
    <div class="col-md-7 list1-dd">{{ node.antes }}</div>
    <div class="col-md-2 list1-dd">
        <form action="{{ url_for('adminNodeRemAnte', node_id=node.id) }}" method="POST">
            <select class="js-example-basic-single" name="ante_id" style="width: 100%;"  onchange="this.form.submit()">
                <option value="">*rem*</option>
                {% for node in node.antes %}
                <option value="{{ node.id }}">{{ node.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-md-2 list1-dd">
        <form action="{{ url_for('adminNodeAddAnte', node_id=node.id) }}" method="POST">
            <select class="js-example-basic-single" name="ante_id" style="width: 100%;"  onchange="this.form.submit()">
                <option value="">*add new*</option>
                {% for node in nodes %}
                <option value="{{ node.id }}">{{ node.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 list1-dt">Posts</div>
    <div class="col-md-9 list1-dd">{{ node.posts }}</div>
    <div class="col-md-2 list1-dd"></div>
  </div>
  <hr>
</div>
{% endblock %}
