{% extends "base.html" %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Pannello docente</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form name="addClassroom" action="{{ url_for('teacherAddClassroom') }}" method="post">
        <div class="form-group row">
          <input type="text" class="form-control col-sm-8" name="name" placeholder="nome della nuova classe">
          <input type="submit" class="btn btn-outline-success col-sm-3" value="aggiungi">
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form name="remClassroom" action="{{ url_for('teacherRemClassroom') }}" method="post">
        <div class="form-group row">
          <input type="text" class="form-control col-sm-8" name="name" placeholder="classe da eliminare">
          <input type="submit" class="btn btn-outline-danger col-sm-3" value="elimina">
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>

<div class="container list1">
  {% for classroom in classrooms %}
  <div class="row">
    <div class="col-md-3 list1-dt"><a href="{{ url_for('classroomDetail', primary_id=classroom.id) }}">{{ classroom.name }}</a></div>
    <div class="col-md-9 list1-dd">{% for student in classroom.students %}{{ student.nickname or student.email }},{% endfor %}</div>
  </div>
  {% endfor %}
  <hr>
</div>
{% endblock %}
